html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
.clearfix:before,
	.clearfix:after {       
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size:0;
}
.wrap{
	width: 6.4rem;
}
nav{
	width: 6.4rem;
	background-color: #40b7db;
	position: relative;
}
nav a{
	position: absolute;
	font-size: 0.5rem;
	text-decoration: none;
	color: #fff;
	top: 3px;
	left: 0.3rem;
}
nav span{
	display: block;
	width: 6.4rem;
	text-align: center;
	line-height: 0.88rem;
	font-size: 0.35rem;
	color: #fff;
}
.banner{
	width: 6.4rem;
}
.banner img{
	display: block;
	width: 100%;
}
.bottom{
	width: 6.4rem;
	border-bottom: 0.5rem solid #ededed;
}
.bottom>div{
	width: 3.2rem;
	float: left;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #ccc;
}
.bottom>div p{
	width: 3.2rem;
	overflow: hidden;
}
.bottom>div p span{
	display: block;
	float: left;
	font-size: 0.24rem;
	line-height: 0.6rem;
}
.bottom>div p .one{
	margin-left: 0.3rem;
}
.bottom>div p .two{
	margin-left: 0.4rem;
	color: #f3a75e;
}
.bottom>div p .three{
	color: #f3a75e;
}
.bottom>div div{
	width: 1.8rem;
	border: 1px solid #50bbdb;
	border-radius: 4px;
	margin-left: 0.3rem;
	overflow: hidden;
}
.bottom>div div a{
	display: block;
	width: 0.6rem;
	text-decoration: none;
	color: #50bbdb;
	text-align: center;
	float: left;
	font-size: 0.24rem;
	line-height: 0.5rem;
}
.bottom>div div span{
	display: block;
	width: 0.6rem;
	background-color: #50bbdb;
	color: #fff;
	text-align: center;
	float: left;
	font-size: 0.24rem;
	line-height: 0.5rem;
}
.bottom>p{
	width: 6.4rem;
	line-height: 0.6rem;
	text-align: center;
	color: #aaaaaa;
	font-size: 0.24rem;
}
.bottom>p i{
	color: #50bbdb;
}
.kong{
	height: 0.7rem;
}
footer{
	width: 6.4rem;
	border-top: 1px solid #ccc;
	background-color: #fff;
}
footer div{
	width: 3.2rem;
	float: left;
}
footer div p{
	font-size: 0.24rem;
	line-height: 0.5rem;
	text-indent: 0.2rem;
}
footer div a{
	display: block;
	width: 2.3rem;
	background: #50bbdb;
	text-decoration: none;
	font-size: 0.3rem;
	line-height: 0.7rem;
	margin: 0.15rem auto;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
}