html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
.clearfix:before,
	.clearfix:after {       
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size:0;
}
.wrap{
	width: 6.4rem;
}
nav{
	width: 6.4rem;
	background-color: #45afce;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: left;
	color: #fff;
	text-align: center;
}
nav ul .fanhui{
	width: 1rem;
	font-size: 0.5rem;
	line-height: 0.88rem;
}
nav ul .name{
	width: 4.4rem;
}
nav ul .name h3{
	font-size: 0.26rem;
	line-height: 0.88rem;
}
nav ul .more{
	width: 1rem;
	font-size: 0.24rem;
	line-height: 0.88rem;
}
.select{
	width: 6.4rem;
	border-bottom: 1px solid #ccc;
}
.select p{
	font-size: 0.24rem;
	line-height: 0.5rem;
	text-align: center;
}
.select p span:first-child{
	color: #45afce;
}
.main{
	width: 6.4rem;
}
.main .liexiang{
	width: 6.4rem;
	border-bottom: 1px solid #ccc;
}
.main .liexiang a{
	display: block;
	float: left;
	font-size: 0.5rem;
	text-decoration: none;
	line-height: 0.7rem;
	margin-left: 0.5rem;
	color: #45afce;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
.main .liexiang span{
	display: block;
	float: left;
	font-size: 0.24rem;
	margin-left: 0.2rem;
	line-height: 0.7rem;
}
.main .liexiang>div{
	width: 0.3rem;
	height: 0.3rem;
	border: 1px solid #45afce;
	border-radius: 0.15rem;
	float: right;
	margin-right: 0.2rem;
	margin-top: 0.2rem;
}
.main .liexiang>div div{
	width: 0.2rem;
	height: 0.2rem;
	background-color: #45afce;
	border-radius: 0.1rem;
	margin: 2.5px auto;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 6.4rem;
	background-color: #46c8ef;
}
footer p{
	text-align: center;
	font-size: 0.26rem;
	color: #fff;
	line-height: 1rem;
}
footer p i{
	font-size: 0.4rem;
}
.wrap .bg{
	display: none;
}